.root {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	background-color: #778bc2;

	.items {
		padding: 0.5em;
		.item {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			color: white;
			padding: 0.2em;
		}

		.itemName {
			color: #44e79a;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5em;
		}

		.itemData {
			color: white;
			display: flex;
			align-items: flex-end;
			flex-direction: column;
			padding: 0.2em;
		}
	}

	.form {
		width: 50%;
		padding: 5px;
		margin: 5px;
		border-radius: 5px;
		text-align: center;
	}

	.addNews {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 5px;

		.inputAddNews {
			text-align: center;
			width: 25em;
			padding: 5px;
			margin: 5px;
			border-radius: 5px;
		}
		.btnAddNews {
			width: 12em;
			border-radius: 5px;
			margin: 5px;
		}
	}
}
